apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - configmap.yaml
  - hpa.yaml

commonLabels:
  app: devops-learning
  managed-by: kustomize

images:
  - name: ghcr.io/luniemma/devops-learning-platform
    newTag: latest
